{% extends "base.html" %}

{% block title %}Selection - {{ selection.name }}{% endblock %}

{% block head %}{% endblock %}

{% block body %}
    <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
        {% for item in selection["items"] %}
            <div class="card" data-id="{{ item['uid'] }}">
                <div class="card-info">
                    <span class="card-title">Sport: {{ item["sport"] }}</span>
                    <span class="card-body">ID: {{ item["uid"] }}</span>
                </div>
            </div>
        {% else %}
            <p style="color: #888; font-size: 1.2em; margin-top: 2em;">No items found.</p>
        {% endfor %}
    </div>
{% endblock %}
