# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.env

# Coverage reports
.coverage

# IDE / editor files
.vscode/

# Secrets / credentials
config/.secrets/*
config/.credentials/*

# Data / logs / legacy files
data/
logs/*
legacy/
notebooks/

# Selections (ignore everything except dev.yml)
config/selections/*
!config/selections/dev.yml

# Gitkeep files
!.gitkeep

# Distribution / build files
dist/