{% macro filter_type_min_ranking(filter) %}
<div class="filter-block border-top pt-2 mt-2">
  <div class="fw-bold">{{ filter["name"] }}</div>
  <div class="text-muted">
    Minimum Ranking: {{ filter["fields"]["ranking"]["current_display"][0] }}<br>

    Competitions:
    {{
      filter["fields"]["competitions"]["current_display"]
      | join(", ")
      if filter["fields"]["competitions"]["current_display"] else "none"
    }}
    <br>

    {% if filter["fields"]["reference_team"]["current_display"] %}
      Reference Team: {{ filter["fields"]["reference_team"]["current_display"][0] }}
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro filter_type_stage(filter) %}
<div class="filter-block border-top pt-2 mt-2">
  <div class="fw-bold">{{ filter["name"] }}</div>
  <div class="text-muted">
    Minimum stage: {{ filter["fields"]["stage"]["current_display"][0] }}
  </div>
</div>
{% endmacro %}

{% macro filter_type_teams(filter) %}
<div class="filter-block border-top pt-2 mt-2">
  <div class="fw-bold">{{ filter["name"] }}</div>
  <div class="text-muted">
    Teams:
    {{
      filter["fields"]["teams"]["current_display"]
      | join(", ")
      if filter["fields"]["teams"]["current_display"] else "none"
    }}
  </div>
</div>
{% endmacro %}

{% macro filter_type_competitions(filter) %}
<div class="filter-block border-top pt-2 mt-2">
  <div class="fw-bold">{{ filter["name"] }}</div>
  <div class="text-muted">
    Competitions:
    {{
      filter["fields"]["competitions"]["current_display"]
      | join(", ")
      if filter["fields"]["competitions"]["current_display"] else "none"
    }}
  </div>
</div>
{% endmacro %}

{% macro filter_type_session(filter) %}
<div class="filter-block border-top pt-2 mt-2">
  <div class="fw-bold">{{ filter["name"] }}</div>
  <div class="text-muted">
    Sessions:
    {{
      filter["fields"]["sessions"]["current_display"]
      | join(", ")
      if filter["fields"]["sessions"]["current_display"] else "none"
    }}
  </div>
</div>
{% endmacro %}