version: 1


formatters:
  simple:
    format: "%(asctime)s [%(levelname)s] %(message)s"
    datefmt: "%H:%M:%S"

  detailed:
    format: "%(asctime)s [%(levelname)s] [%(name)s] [%(filename)s:%(lineno)d] (%(funcName)s) - %(message)s"
    datefmt: "%Y-%m-%d %H:%M:%S"

  json:
    "()": pythonjsonlogger.jsonlogger.JsonFormatter
    format: '%(created)f %(asctime)s %(levelname)s %(name)s %(filename)s %(lineno)d %(funcName)s %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'

handlers:
  console_handler:
    class: logging.StreamHandler
    level: INFO
    formatter: simple

  file_debug_handler:
    class: logging.handlers.TimedRotatingFileHandler
    filename: logs/DEBUG.log
    level: DEBUG
    formatter: detailed
    when: midnight         # rotate at midnight
    interval: 1            # every 1 day
    backupCount: 30        # keep 30 old logs

  file_debug_json_handler:
    class: logging.handlers.TimedRotatingFileHandler
    filename: logs/DEBUG.json
    level: DEBUG
    formatter: json
    when: midnight
    interval: 1
    backupCount: 30

loggers:
  # App loggers
  src.app:
    level: DEBUG

  src.app.calendar:
    level: DEBUG

  src.app.models:
    level: DEBUG

  src.app.selection:
    level: DEBUG

  # Config logger
  src.config:
    level: DEBUG

  # Data pipeline loggers
  src.data_pipeline:
    level: DEBUG

  src.data_pipeline.clients:
    level: DEBUG

  src.data_pipeline.data_processing:
    level: DEBUG

  src.data_pipeline.data_processing.managers:
    level: DEBUG

  src.data_pipeline.data_processing.processors:
    level: DEBUG

  src.data_pipeline.data_processing.versioning:
    level: DEBUG

  src.data_pipeline.data_validation:
    level: DEBUG

  src.data_pipeline.utils:
    level: DEBUG

  # File I/O logger
  src.file_io:
    level: DEBUG

  # Specs loggers
  src.specs:
    level: DEBUG

  src.specs.config:
    level: DEBUG

  src.specs.pipeline:
    level: DEBUG

  src.specs.pipeline.workflows:
    level: DEBUG

  src.specs.pipeline.schemas:
    level: DEBUG

  # Tests logger
  src.tests:
    level: DEBUG

  # Third party loggers
  googleapiclient.discovery_cache:
    level: DEBUG
    handlers: [file_debug_handler]
    propagate: False

  urllib3:
    level: WARNING
    handlers: []
    propagate: False

root:
  level: DEBUG
  handlers: [console_handler, file_debug_handler, file_debug_json_handler]
  propagate: False
